<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ToDo</span>
    <span class="example-spacer">

    </span>


    <button (click)="openDialog()">
      <i class="material-icons">
        add
      </i>
    </button>
    <button (click)="cerrarSesion()">
      <mat-icon class="example-icon" aria-hidden="false">account_box</mat-icon>
    </button>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>