<div class="container">
    <form class="example-form" (ngSubmit)="registro(f.value)" #f="ngForm">

      <h4>Registrate</h4>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="email" type="email" name="email" ngModel  required>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input matInput placeholder="password" type="text" name="password" ngModel  required>
          </mat-form-field>

  
      <div class="form-group">
          <button [disabled]="!f.valid" class="btn btn-primary submit-btn btn-block">Crear Cuenta</button>
        </div> 
      </form>
</div>